<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="{% if active == 'dashboard' or active == '' %}active{% endif %}">
        <a href="/v">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    {% if not team_members is null %}
        <li class="header">MY TEAM</li>
        {% for mod in team_members %}
            <li class="{% if active == 'mod_' ~ mod.account %}active{% endif %}">
                <a href="/v/user/{{ mod.account }}">
                    <i class="fa fa-user"></i><span>{{ mod.account }}</span>
                </a>
            </li>
        {% endfor %}
        <li class="header" title="Wow you hovered the category Oo Yeah you really like the bonus features.... Don't you">BONUS FEATURES</li>
        <li>
            <a id="show_other" onclick="showOther();return false;" name="show_other" href="#show_other">
                <i class="fa fa-user-secret"></i><span>Show Moderator</span>
            </a>
        </li>
        <li>
            <a id="check-ban" onclick="checkBan();return false;" name="check_ban" href="#check_ban">
                <i class="fa fa-gavel "></i><span>Check Ban</span>
            </a>
        </li>

    {% endif %}
</ul>