{% extends '../layout.twig' %}
{% block title %}
{% block body %}
    <div id="content" class="overlay">
        <!-- Overlay content -->
        <div class="overlay-content">
            <img src="https://xzor.xyz/ipfs/QmaLaRg4Pt6AvfYNoLp41e2ru9T6qk5Qz8ZziGWJzqKQhJ" width="250">
            <h1>Welcome to utopian.reviews</h1>
            <h4><i>Reviews made easy</i></h4>
            <hr style="width: 50px"/>
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    {#<a href="/oauth/steem" class="btn btn-steem btn-block">Login with Steemconnect</a>#}
                    <button class="btn btn-steem btn-block">Login comming soon</button>
                </div>
            </div>


        </div>

    </div>
{% endblock %}
